<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rabiya.deawooexpress">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Complain"></activity>
        <activity android:name=".Cargo" />
        <activity android:name=".BuyTickets" />
        <activity android:name=".PreBooking" />
        <activity android:name=".Refund" />
        <activity android:name=".MyBookings" />
        <activity android:name=".MyTickets" />
        <activity android:name=".BookSeats" />
        <activity android:name=".Dash" />
        <activity android:name=".SignIn" />
        <activity android:name=".Login" />
        <activity android:name=".Launch" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>